<% set_meta_tags title: "About", description: "why we do CrimeNote.com" %>
<% breadcrumb :about %>

<div class="container-fluid">

  <div class="row">
    <div class="col-12">
      <div class="text-center text-secondary mt-5">
        <h1 class="my-4">Why we do this ?</h1>
        <h2 class="my-4">Crime</h2>
        <p>"Except for crime, security issue..." this is what all people say when describing South Africa.</p>
        <p>South Africa is great country, perfect weather, beautiful and splendid nature, cuisine with a unique fusion of different cultural influences, world class series of wine.</p>
        <p>..except...crime</p>
        <h2 class="my-4">Shame</h2>
        <p>You know, there are tons of crime happening in South Africa now and many of these will not be reported to the police.</p>
        <p>It's shame on the country, leading promising continent, Africa.</p>
        <h2 class="my-4">Idea</h2>
        <p>We have came up with this idea that if we share the crime story, experience on internet.</p>
        <p>This may help people to avoid risk, minimize crime happening, to reveal real issue in South Africa we must deal with for the better society.</p>
        <p>We welcome your comment, suggestion to make this service more fruitful for the society.</p>
      </div>
    </div>
  </div><!--col-12-->
</div>
