<% set_meta_tags title: "About", description: "why we do CrimeNote.com" %>
<% breadcrumb :about %>

<div class="container-fluid">

  <div class="row">
    <div class="col-12">
      <div class="text-center text-secondary mt-5">
        <h1 class="my-4">Why we do this ?</h1>
        <h2 class="my-4">アフリカへの愛</h2>
        <p>私たちは、アフリカが大好きです。</p>
        <p>バイブス、明るい人々、素直な子供達の笑顔、音楽、ダンス、大自然、動植物、多様な民族文化、食事・・・</p>
        <p>そんなアフリカを、もっと沢山の日本人に訪れて欲しい、知ってほしい、と強く願っています。</p>
        <h2 class="my-4">アフリカの未来</h2>
        <p>従来からの観光、国際協力関係者に加え、</p>
        <p>これからの経済発展、人口爆発、技術の進展を見据え、近年益々多くの日本人がアフリカを訪れ、アフリカで働くようになってきました。</p>
        <h2 class="my-4">アフリカで安全に過ごして貰うために</h2>
        <p>一方、多くの方々が不安に思う治安。実際に、無視できない事例も起きている事、事実です。</p>
        <p>素敵な大陸アフリカを、ちょっとの事件や事故で嫌いになって欲しくない。</p>
        <p>避けられるリスクは避けてほしい、危ない場所を知って欲しい、実際にどんな事件があるのか知って欲しい。</p>
        <p>そして、安全に何事もなく過ごし、或いは、帰国し、益々アフリカを好きになって欲しい。</p>
        <p>そんな思いで、サービスを運営しています。</p>
      </div>
    </div>
  </div><!--col-12-->
</div>
