<% set_meta_tags title: "", description: "crime reports happened in South Africa" %>

<div class="container-fluid cover ">

  <div class="row">
    <div class="col-12 top_of_top">
      <div class="my-5 text-center">
        <h1 class="text-white text-shadow">海外に暮らす、旅行する日本人の為の犯罪情報シェアサイト。</h1>
        <h2 class="text-white text-shadow">土地勘の無い方でも、どこで、どのような犯罪が起きているのか分かります。</h2>
      </div>
      <div class="my-3 text-center">
        <%= link_to :new_note do %>
        <button class="btn btn-danger btn-lg"><i class="far fa-newspaper"></i>&nbsp&nbsp<strong>Report New Crime</strong></button>
        <% end %>
      </div>
    </div><!--col-12-->
  </div>

  <div class="row">
    <div class="col-12 my-5">
      <div style='width: 100%;' class="text-center">
        <div id="map" style='width: 100%; height: 40vh;'></div>
      </div>

      <script type="text/javascript">
      handler = Gmaps.build('Google');
      handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
        markers = handler.addMarkers(<%=raw @hash.to_json %>);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
      });
      </script>
    </div>

    <div class="col-12">

      <% if @notes.exists? %>

      <% @notes.each do |note| %>
      <%= render 'shared/note_index', note: note %>
      <% end %>

      <div class="my-5">
        <%= link_to :notes, class: "btn btn-danger btn-lg" do %>
        &nbsp;&nbsp;<strong>View All Crime Notes</strong>&nbsp;&nbsp;<i class="fas fa-angle-double-right"></i>
        <% end %>
      </div>

      <% else %>

      <div class="alert alert-danger text-center" role="alert">
        Oops! no data yet....<i class="far fa-frown"></i>
      </div>

      <% end %>

    </div><!--col-4-->

  </div><!--row-->

</div>
