<hr>
<div class="container">
  <footer class="text-center text-secondary my-5 bold">
    &copy; <%= Date.today.year %> crimenote.com
    <div class="col-12 mt-3 text-center text-secondary alert alert-light">
      <%= link_to "give your opinion!", "https://twitter.com/NoMoreCopHarass", class:"alert-link" %>
      &nbsp;|&nbsp;
      follow us on twitter! &nbsp;
      <%= link_to "https://twitter.com/NoMoreCopHarass" do %>
      <i class="fab fa-twitter fa-2x"></i>
      <% end %>
    </div>
  </footer>
</div>
