.cover {
  background-color: black;
  background-size: cover;
  background-position: 50% 50%;
}
.top_of_top {
  background: image-url("africa_town.jpg");
  background-size: cover;
  background-position: 50% 50%;
}
.text-shadow {
  text-shadow: #000 2px 2px;
}

.card-body-height{
  height: 150px;
}

.girl {
	color: #e83e8c;
}

.boy {
	color: #3e58e8
}

body {
	font-size: 14px;
}

a {
	color: #555
}
a:hover {
    color: #dc3545;
}

footer {
	background-color: #f2f2f2;
}

footer.page-footer .footer-copyright {
	overflow: hidden;
	background-color: rgba(0, 0, 0, .2);
	color: rgba(255, 255, 255, .6);
}

footer .container {
	min-height: 300px;
}
