.cover {
  background-color: black;
  background-size: cover;
  background-position: 50% 50%;
}
.top_of_top {
  background: image-url("crime_tape.jpg");
  background-size: cover;
  background-position: 50% 50%;
}
.text-shadow {
  text-shadow: #000 2px 2px;
}
